<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-Time Chart</title>
    <script src="http://localhost:3000/embedded.js"></script>
    <!-- Embeddable script -->
  </head>
  <body>
    <div class="chart-container">
      <canvas id="rtchart"></canvas>
    </div>
  </body>
</html>
